WORKER_ENV=prod
WORKER_LOG_LEVEL={{ worker_log_level }}

# Control Plane endpoints
WORKER_TEMPORAL_ADDRESS={{ worker_temporal_address }}
WORKER_SCANLEDGER_BASE_URL={{ worker_scanledger_base_url }}
WORKER_SCANLEDGER_TOKEN={{ vault_scanledger_worker_token }}

# mTLS credentials (mounted into /etc/falcoria/certs)
WORKER_TEMPORAL_TLS_ENABLED={{ worker_temporal_tls_enabled | lower }}
WORKER_TEMPORAL_TLS_CLIENT_CERT_PATH=/etc/falcoria/certs/worker.crt
WORKER_TEMPORAL_TLS_CLIENT_KEY_PATH=/etc/falcoria/certs/worker.key
WORKER_TEMPORAL_TLS_SERVER_ROOT_CA_CERT_PATH=/etc/falcoria/certs/ca.crt

# Scanner execution tuning
WORKER_MAX_CONCURRENT_ACTIVITIES={{ worker_max_concurrent_activities }}
WORKER_WINDOW_SIZE={{ worker_window_size }}
