POSTGRES_PASSWORD={{ vault_postgres_password }}
SCANLEDGER_ADMIN_TOKEN={{ vault_scanledger_admin_token }}
SCANLEDGER_TASKER_TOKEN={{ vault_scanledger_tasker_token }}
SCANLEDGER_WORKER_TOKEN={{ vault_scanledger_worker_token }}
SCANLEDGER_ASM_TOKEN={{ vault_scanledger_asm_token | default('') }}
