POSTGRES_PASSWORD={{ vault_postgres_password }}
SCANLEDGER_SECRET_KEY={{ vault_scanledger_secret_key }}
SCANLEDGER_ADMIN_INITIAL_PASSWORD={{ vault_scanledger_admin_password }}
TASKER_SCANLEDGER_TOKEN={{ vault_scanledger_tasker_token }}
TASKER_UI_PASSWORD_HASH={{ vault_tasker_ui_password_hash }}
